/* Divider dots */
div.divider {
  margin-top: 1rem;
  padding: 0;
  text-align: center;
}

div.divider > span.dot {
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
}

.app-config input[type="number"] {
  padding: 0.2em;
  font-size: 0.9em;
  text-align: center;
}

.app-config textarea {
  min-width: 17rem;
  width: 35%;
  font-family: inherit;
  font-size: 0.9em;
  margin-right: auto;
  margin-left: auto;
}

.btn-submit {
  width: 5em;
  height: 2em;
  font-size: 1.1em;
}