__pycache__
.data/
.mypy_cache/
.vscode/
backup/
testing/
src/static/images/
node_modules/
secrets/
src/static/build/
src/static/downloads

*.db
*.ini
*.json
*.log
*.psd
requirements.txt
*.jpg
!configuration/*.json
