{% extends 'base.html' %}
{% set show_form = False %}

{% block nav %}
{% include "partials/nav-today.html" %}
{% endblock %}

{% block content %}
<section class="page center">
  <h3>&OpenCurlyDoubleQuote;A problem in your life is an opportunity to write about it.&CloseCurlyDoubleQuote;</h3>
  <p>It looks like something broke on our end. We'll get that fixed right up as soon as possible.<br>
  In the meantime, maybe check out the <a href="https://twitter.com/search?q=%23vss365">#vss365</a> hashtag for writing inspiration?</p>

  <span style="font-size: 4em;">⚠️</span>
</section>
{% endblock %}
