{% extends 'base.html' %}

{% block nav %}
{% include "partials/nav-today.html" %}
{% endblock %}

{% block content %}
<div class="tweet small">
  <h2>What is VSS 365?</h2>
  <p>So you've heard about this thing called VSS 365 and you want to know more about it, such as what it is, how does it work, and how to participate. Well, you've come to the right place!</p>

  <p>
    <strong>VSS 365</strong> was created by <a href="https://theflashdogs.com/a-daily-dose-of-short-fiction/">FlashDogs</a> in 2016
  </p>

  <h3>Getting started</h3>
  <p>To get started with VSS 365, all you need is a Twitter account.</p>


  <h2>About VSS 365 Today</h2>
  <p><strong>VSS 365 Today</strong> is a hobby project created by Caleb Ely, an active participant of VSS 365. This site was created as a way to get the VSS 365 prompt into the minds of more writers more easily, himself included. You can read more about the background of the site on his <a href="https://medium.com/@cely717">blog</a>.</p>
</div>
{% endblock %}
