{% extends 'base.html' %}

{% block nav %}
{% include "partials/nav-today.html" %}
{% endblock %}

{% block content %}
<div class="page">
  <h2>What is VSS 365?</h2>
  <p>So you've heard about this thing called VSS 365 and you want to know more about it, such as what it is, how it works, and how to participate. Well, you've come to the right place!</p>

  <p><strong>VSS 365</strong> stands for Very Short Story 365. Created by <a href="https://theflashdogs.com/a-daily-dose-of-short-fiction/">FlashDogs</a> in 2016, every day, participants write a tweet-sized short story based on a daily word prompt. Originally planned to last one year, the prompts are now given out by a new host every month, each with their own unique style and word choices, with the hosts scheduled by <a href="https://twitter.com/voimaoy">Voimaoy</a>.</p>

  <h3>Getting started</h3>
  <p>To get started with VSS 365, all you need is a Twitter account. Once the prompt is posted, write a very short story that incorporates the prompt word or uses the prompt as thematic inspiration. Make sure you include the <a href="https://twitter.com/search?q=%23vss365">#vss365</a> hashtag and the prompt word as a hashtag so everyone can find it! That's all there is to it! If you are still wanting more information, Sal Page has written an <a href="http://sal-cobbledtogether.blogspot.com/2018/12/vss365-january-and-acpitservices.html">excellent blog post</a> with further background and writing tips.</p>

  <h2>About VSS 365 Today</h2>
  <p><strong>VSS 365 Today</strong> is a hobby project created by <a href="https://codetri.net">Caleb Ely</a>, a poet and active participant of VSS 365. This site was created as a way to get the VSS 365 prompt into the hands and minds of more writers more easily, himself included. You can read more about the background of the site on his <a href="https://medium.com/@cely717/vss-365-today-97d1776f0b8">blog</a>.</p>
</div>
{% endblock %}
