{% extends 'base.html' %}

{% block content %}
<section class="page">
  <h2>What is #vss365?</h2>
  <p>Created by <a href="https://theflashdogs.com/a-daily-dose-of-short-fiction/">FlashDogs</a> in 2016, <strong>#vss365</strong> participants write a tweet-sized short story based on a daily word prompt. Originally planned to last one year, the prompts are now given out by a new host every month, each with their own unique style and word choices, with the hosts scheduled by <a href="https://twitter.com/voimaoy">Voimaoy</a>.</p>

  <h3>Getting started</h3>
  <p>To get started with #vss365, all you need is a Twitter account. Once the prompt is posted, write a very short story that incorporates the prompt word or uses the prompt as thematic inspiration. Make sure you include the <a href="https://twitter.com/search?q=%23vss365">#vss365</a> hashtag and the prompt word as a hashtag so everyone can find it! That's all there is to it! If you are still wanting more information, Sal Page has written an <a href="http://sal-cobbledtogether.blogspot.com/2018/12/vss365-january-and-acpitservices.html">excellent blog post</a> with further background and writing tips.</p>

  <h3>What if I don't have Twitter?</h3>
  <p>If you don't have a Twitter accout, that's perfectly ok! You don't <em>have</em> to be on Twitter to participate. You can still write a story from the prompt, or even use the prompts as inspiration for something else!</p>

  <h3>What if I miss a day?</h3>
  <p>Don't worry about that! If you miss a day, you can just that prompt, write multiple stories, or combine the words into one story! There are no hard-and-fast rules here. It's all about having fun with the prompt.</p>

  <h2>About #vss365 today</h2>
  <p><strong>#vss365 today</strong> is a hobby project created by <a href="https://codetri.net">Caleb Ely</a>, an IT professional, poet, and active participant in #vss365. This site was created as a way to get the #vss365 prompt into the hands and minds of more writers more easily, himself included. You can read more about the background of this site on his <a href="https://blog.codetri.net/2019/01/vss365-today/">blog</a>.</p>

  <h3>Privacy</h3>
  <p>Aside from some basic, blockable analytics used to identify browser usage and common referrers to the site, this site does not collect any personally identifiable information. If you voluntarily register for the daily email notifications, your email address is recorded for the sole purpose of sending out the emails through an automatic process and nothing else. Your email can be removed at any time through an unsubscribe link in every email. I do not like spam or junk as much as the next person, and have no plans or desire to ever use your email address in any form aside from the email notifications. 🙂</p>
</section>
{% endblock %}
