<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color" content="#96ffff">
  <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=EB+Garamond:400,700|Oswald:200,400,500">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>{{ page_title }} | {{ site_title }}</title>
  {% include "partials/social-media.html" %}
</head>

<body>
  <header>
    <h1><a href="{{ url_for('root.index') }}">📖 {{ site_title }}</a></h1>
    <h2>{{ page_title }}</h2>
  </header>

  {% include "partials/nav.html" %}

  <main>
    {%- block content %}{% endblock %}
    {% include "partials/form.html" %}
  </main>

  <footer>
    <div>{{ current_year }} Caleb Ely (<a href="https://twitter.com/cely717">@cely717</a>)</div>
  </footer>

  {% include "partials/analytics.html" %}
</body>
</html>
