<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ page_title }} | {{ config.APP_NAME }}</title>
  {% include "partials/social-media.html" %}
  <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
  {{ GoogleFonts('https://fonts.googleapis.com/css2?family=Bad+Script&family=Josefin+Slab:wght@400;600;700&family=Karla:ital,wght@0,400;0,700;1,400;1,700') }}
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
  {% include 'partials/flash-messages.jinja2' %}

  {% include 'partials/header.html' %}

  <main id="main">
    {%- block content %}{% endblock %}
  </main>

  {% include 'partials/footer.html' %}

  <script src="{{ url_for('static', filename='details-element-polyfill.js') }}"></script>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  <script src="{{ url_for('static', filename='js/flash-messages.js') }}"></script>
  {%- block scripts %}{% endblock %}
</body>
</html>
