<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ page_title }} | {{ config.APP_NAME }}</title>
  {% include "partials/social-media.html" %}
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
  {{ GoogleFonts('https://fonts.googleapis.com/css2?family=Bad+Script&family=Josefin+Slab:wght@400;600;700&family=Karla:ital,wght@0,400;0,700;1,400;1,700') }}
  {%- block styles %}{% endblock %}
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
  {% include 'partials/alerts.jinja2' %}

  {% include 'partials/header.html' %}

  <main id="main">
    {%- block content %}{% endblock %}
  </main>

  {% set show_form = False %}
  {% include 'partials/footer.html' %}

  <script src="{{ url_for('static', filename='details-element-polyfill.js') }}"></script>
  <script type="module" src="{{ url_for('static', filename='js/script.js') }}"></script>
  <script type="module" src="{{ url_for('static', filename='js/alerts.js') }}"></script>
  <script defer
          data-cf-beacon='{"token": "bb0e55af8f6848408e26cdef270c58fe"}'
          src='https://static.cloudflareinsights.com/beacon.min.js'></script>
  {%- block scripts %}{% endblock %}
</body>
</html>
