{% extends 'base.html' %}
{% set page_title = date|format_month_year ~ ' prompts from ' ~ writer %}

{% block content %}
<section class="page center browse-giver">
  {% if not tweets -%}
  <h2>No #vss365 prompts from {{ writer }} for {{ date|format_month_year }} were found!</h2>

  {%- else %}
  <div class="wrapper">
    {%- for tweet in tweets %}
    <dl>
      <dd><a href="{{ url_for('root.date', date=tweet.date) }}">{{ tweet.word }}</a></dd>
      <dt>{{ tweet.date|create_date|format_date }}</dt>
    </dl>
    {%- if loop.index % 5 == 0 %}
  </div>

  <div class="wrapper">
    {%- endif %}
    {%- endfor %}
  </div>
  {%- endif %}
</section>
{% endblock %}
