{% extends 'base.html' %}

{% block content %}
<section class="page center browse-giver">
  <h3>View VSS prompts by {{ giver }}</h3>

  {#- We do not have any tweets from this giver -#}
  {% if not tweets -%}
  <p>No VSS prompts from {{ giver }} were found!</p>

  {# We have tweets, give links to them #}
  {%- else %}
  <ul>
    {%- for tweet in tweets %}
    <li>
      <a href="{{ url_for('root.date', date=tweet.date) }}">{{ tweet.date|format_date }} &mdash; <strong>{{ tweet.word }}</strong></a>
    </li>
    {%- if loop.index % 5 == 0 %}
  </ul>

  <ul>
    {%- endif %}
    {%- endfor %}
  </ul>
  {%- endif %}
</section>
{% endblock %}
