{% extends 'base.html' %}

{% block content %}
<section class="page center browse-giver">
  <h3>View prompts by @{{ giver }}</h3>

  {#- We do not have any tweets from this giver -#}
  {% if not tweets -%}
  <p>No #vss365 prompts by <a href="https://twitter.com/{{ giver }}">@{{ giver }}</a> were found!</p>

  {# We have tweets, give links to them #}
  {%- else %}
  <div class="wrapper">
    {%- for tweet in tweets %}
    <dl>
      <dd><a href="{{ url_for('root.date', date=tweet.date) }}">{{ tweet.word }}</a></dd>
      <dt>{{ tweet.date|create_date|format_date }}</dt>
    </dl>
    {%- if loop.index % 5 == 0 %}
  </div>

  <div class="wrapper">
    {%- endif %}
    {%- endfor %}
  </div>
  {%- endif %}
</section>
{% endblock %}
