{% extends 'base.html' %}

{% block content %}
<section class="page center browse-giver">
  <p>These are all the awesome writers who gave us prompts in {{ year }}!</p>

  {%- if not writers -%}
  <p>No #vss365 prompters for {{ year }} were found!</p>

  {%- else %}
  <div class="wrapper">
    {%- for writer in writers %}
    <dl>
      {% set writer_date = writer.date|create_date %}
      <dd><a href="{{ url_for('root.browse_by_writers', writer=writer.handle) }}">@{{ writer.handle }}</a></dd>
      <dt>{{ writer_date.strftime("%B %Y") }}</dt>
    </dl>
    {%- if loop.index % 6 == 0 %}
  </div>

  <div class="wrapper">
    {%- endif %}
    {%- endfor %}
  </div>
  {%- endif %}

</section>
{% endblock %}
