{% extends 'base.html' %}

{% block content %}
<section class="page center browse-giver">
  <h3>View {{ year }} prompters</h3>

  {%- if not givers -%}
  <p>No #vss365 prompters for {{ year }} were found!</p>

  {%- else %}
  <ul>
    {%- for giver in givers %}
    <li>
      {% set giver_date = (giver.date ~ '-01')|create_date %}
      <a href="{{ url_for('root.browse_by_giver', giver=giver.handle) }}">@{{ giver.handle }} &mdash; <strong>{{ giver_date.strftime("%B %Y") }}</strong></a>
    </li>
    {%- if loop.index % 6 == 0 %}
  </ul>

  <ul>
    {%- endif %}
    {%- endfor %}
  </ul>
  {%- endif %}

</section>
{% endblock %}
