<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ date }} | VSS 365 Today</title>
  <style>{{ css_styles }}</style>
</head>

<body>
    <div class="header">
      <h1>VSS 365 Today</h1>
      <h2>{{ date }}</h2>
    </div>

  <div class="main">
    <div class="tweet">
      {{ content }}
    </div>
  </div>

  <div class="footer">
    <p>If you believe you have received this email in error or no longer wish to receive them, feel free to <a href="https://vss365today.com/unsubscribe?email={{ email }}"></a></p>
  </div>
</body>
</html>
