<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- https://markdownmail.com -->
</head>

<body
  style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #353333; height: 100%; hyphens: auto; line-height: 1.4; margin: 0; -moz-hyphens: auto; -ms-word-break: break-all; width: 100% !important; -webkit-hyphens: auto; -webkit-text-size-adjust: none; word-break: break-word;">
  <style>
    @media only screen and (max-width: 600px) {
      .inner-body {
        width: 100% !important;
      }

      .footer {
        width: 100% !important;
      }
    }

    @media only screen and (max-width: 500px) {
      .button {
        width: 100% !important;
      }
    }
  </style>
  <table class="wrapper" width="100%" cellpadding="0" cellspacing="0"
    style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; background-color: #82eeee; margin: 0; padding: 0; width: 100%; -premailer-cellpadding: 0; -premailer-cellspacing: 0; -premailer-width: 100%;">
    <tr>
      <td align="center" style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box;">
        <table class="content" width="100%" cellpadding="0" cellspacing="0"
          style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; margin: 0; padding: 0; width: 100%; -premailer-cellpadding: 0; -premailer-cellspacing: 0; -premailer-width: 100%;">
          <tr>
            <td class="header"
              style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; padding: 25px 0 10px 0; text-align: center;">
              <a href="https://vss365today.com"
                style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #353333; font-size: 23px; font-weight: bold; text-decoration: none;">
                #vss365 today
              </a>
            </td>
          </tr>
          <tr>
            <td class="header"
              style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; padding: 0 0 25px 0; text-align: center; color: #353333; font-size: 19px; text-decoration: none;">
              {{ tweet.date }}
            </td>
          </tr>
          <!-- Email Body -->
          <tr>
            <td class="body" width="100%" cellpadding="0" cellspacing="0"
              style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; background-color: #ffffff; border-bottom: 1px solid #edeff2; border-top: 1px solid #edeff2; margin: 0; padding: 0; width: 100%; -premailer-cellpadding: 0; -premailer-cellspacing: 0; -premailer-width: 100%;">
              <table class="inner-body" align="center" width="570" cellpadding="0" cellspacing="0"
                style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; background-color: #ffffff; margin: 0 auto; padding: 0; width: 570px; -premailer-cellpadding: 0; -premailer-cellspacing: 0; -premailer-width: 570px;">
                <!-- Body content -->
                <tr>
                  <td class="content-cell" align="center"
                    style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; padding: 35px;">
                    <h2
                      style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #2F3133; font-size: 19px; font-weight: bold; margin-top: 0; text-align: center;">
                      Today's writing prompt is:</h2>
                    <h1 align="center"
                      style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #2F3133; font-size: 23px; font-weight: bold; margin-top: 0; text-align: center;">
                      <a href="https://www.dictionary.com/browse/{{ tweet.word|lower }}"
                        style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #3ab879; text-decoration: none;">{{ tweet.word }}</a>
                    </h1>

                    <table class="action" align="center" width="100%" cellpadding="0" cellspacing="0"
                      style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; margin: 30px auto; padding: 0; text-align: center; width: 100%; -premailer-cellpadding: 0; -premailer-cellspacing: 0; -premailer-width: 100%;">
                      <tr>
                        <td align="center" style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box;">
                          <table width="100%" border="0" cellpadding="0" cellspacing="0"
                            style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box;">
                            <tr>
                              <td align="center"
                                style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box;">
                                <table border="0" cellpadding="0" cellspacing="0"
                                  style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box;">
                                  <tr>
                                    <td style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box;">
                                    {% if tweet.media %}
                                      <img width="400" alt="" style="box-sizing: border-box; display: inline-block;" src="{{ tweet.media }}">
                                    {% endif %}
                                    </td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table>

                    <p
                      style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #74787e; font-size: 16px; line-height: 1.5em; margin-top: 0; text-align: center;">
                      <a href="{{ tweet.url }}"
                        style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #3ab879; text-decoration: none;">Prompt by {{ tweet.handle }}</a>
                    </p>
                    <hr style="border: none; height: 3px; background-color: lightgray">

                    <h3>Salutations!</h3>

                    <p>Just wanted to give you an update on the email infrastructure upgrades.</p>

                    <p>Upgrades were delayed for a few weeks, much to my disappointment. However, I found time to begin implementing the changes, and will begin switching over to the new system in the coming days.</p>

                    <p>As previously stated, approximately 25% of all emails will be sent using the new system. Unfortunately, as it is not yet fully configured, there is a high likelihood that the email will land in your junk folder. Should this happen, <em>please click the "Not junk" button</em> to move it back to your inbox. This will help signal to your email provider that the email is indeed not junk. Additionally, if you would like, please reach out to me on Twitter <a style="color: #3ab879;" href="https://twitter.com/cely717">@cely717</a> and let me know it happened. Be sure to state your email provider as well so I can make note of specific issues. You can also ask questions you may have.</p>

                    <p>As always, if you do not receive the email at all, the website itself is available to view the day's prompt. I also have a complete archive of all #vss365 prompts for your browsing pleasure.</p>

                    <p>Finally, <em>thank you</em> again for subscribing to <strong>#vss365 today</strong>! I never cease to be amazed by the amount of people who find this service helpful and also share it with others to help them. This project has been a great joy to me, in part because of fellow writers like you. Thank you so much for your continued cooperation and support!</p>

                    <p>BTW, your #vss365 for today will be amazing. ;) -Caleb</p>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box;">
              <table class="footer" align="center" width="570" cellpadding="0" cellspacing="0"
                style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; margin: 0 auto; padding: 0; text-align: center; width: 570px; -premailer-cellpadding: 0; -premailer-cellspacing: 0; -premailer-width: 570px;">
                <tr>
                  <td class="content-cell" align="center"
                    style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; padding: 35px;">
                    <p
                      style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; line-height: 1em; margin-top: 0; color: #353333; font-size: 12px; text-align: center;">
                      <a style="color: #3ab879; text-decoration: none;" href="https://vss365today.com/unsubscribe">Unsubscribe</a></p>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>
</html>
