{% extends 'base.html' %}

{% block content %}
<div class="page center">
  <h3>&OpenCurlyDoubleQuote;To live more alone is a dream we only have at home.&CloseCurlyDoubleQuote;</h3>
  {% if removal_success %}
  <p>The email <strong>{{ email }}</strong> has been successfully removed.<br>
    We hope you're still planning on participating in the VSS 365 prompts!</p>
  {% else %}
  <p>We were unable to remove <strong>{{ email }}</strong> from the subscription list.<br>
    We're terribly sorry about this! Please try to unsubscribe again in a few minutes.</p>
  {% endif %}
</div>
{% endblock %}
