<footer>
  <div>
    <h3>
      Email subscriptions are temporarily disabled while an influx of<br>
      spam registrations is being handled (<a href="https://twitter.com/cely717/status/1372946521432416257">details</a>).
    </h3>
  </div>

  <div>
    2019 - {{ current_date.year }} <a rel="noopener noreferrer" href="https://codetri.net">Caleb Ely</a> |
    <a href="{{ url_for('root.donate') }}">Donate</a> |
    <a href="{{ url_for('shortcuts.privacy') }}">Privacy</a> |
    <a href="{{ url_for('root.unsubscribe') }}">Unsubscribe</a>
  </div>
</footer>
