<h3>Search tips</h3>
<p></p>
<ul>
  <li>You can search for words, like <strong>braid</strong>, exact dates (I personally like <strong>July 31, 2020</strong>), or a host's Twitter name (<strong>cely717</strong> 😉).</li>
  <li>Exact and partial word matches are supported (e.g., <strong>ai</strong> will match all words containing those two letters.).</li>
  <li>If a single result is found, you will be taken directly to the prompt.</li>
</ul>


<div class="form-search-tabs center-block">
  <div class="tab-wrapper">
    <div class="tab word active">{{ form_word.query.label }}</div>
    <div class="tab date">{{ form_date.query.label }}</div>
    <div class="tab host">{{ form_host.query.label }}</div>
  </div>

  <form class="form-search word active" method="POST" action="{{ url_for('search.by_word') }}">
    {{ form_word.csrf_token }}
    {{ form_word.query() }}
    <button type="submit">Search</button>
  </form>

  <form class="form-search date" method="POST" action="{{ url_for('search.by_date') }}">
    {{ form_date.csrf_token }}
    {{ form_date.query() }}
    <button type="submit">Search</button>
  </form>

  <form class="form-search host" method="POST" action="{{ url_for('search.by_host') }}">
    {{ form_host.csrf_token }}
    {{ form_host.query() }}
    <button type="submit">Search</button>
  </form>
</div>

{% block scripts %}
<script src="{{ url_for('static', filename='js/search.js') }}"></script>
{% endblock %}
