<meta name="title" content="{{ site_title }} | {{ page_title }}">
<meta name="description" content="Get the latest #vss365 prompt">
<meta property="og:site_name" content="#vss365 today">
<meta property="og:type" content="website">
<meta property="og:title" content="{{ site_title }} | {{ page_title }}">
<meta property="og:url" content="{{ request.host_url }}">
<meta property="og:image" content="{{ request.scheme }}://{{ request.host }}{{ url_for('static', filename='social-media-card.png') }}">
<meta property="og:description" content="Get the latest #vss365 prompt">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@cely717">
<meta name="twitter:creator" content="@cely717">
<meta name="twitter:title" content="{{ site_title }} | {{ page_title }}">
<meta name="twitter:description" content="Get the latest #vss365 prompt">
<meta name="twitter:image" content="{{ request.scheme }}://{{ request.host }}{{ url_for('static', filename='social-media-card.png') }}">
<meta name="twitter:image:alt" content="Get the latest #vss365 prompt">