{% macro link_to_host(handle) -%}
  <a href="{{ url_for('search.results', type='host', query=handle) }}">{{ handle }}</a>
{%- endmacro %}

{% macro link_to_prompt(date) -%}
<a href="{{ url_for('root.view_date', d=date) }}">{{ date|format_date_pretty }}</a>
{%- endmacro %}
