{% set page_title = "Search #vss365 prompts" %}
{% extends "base.html" %}

{% block content %}
<section class="page">
  <h2 class="center">&OpenCurlyDoubleQuote;We're all searching for life's meaning... or maybe just a word's definition.&CloseCurlyDoubleQuote;</h2>

  <p>Trying to find a prompt that you liked? Maybe you want to see the prompt for a specific day? Is there a author you just absolutely adore? How about finding inspiration for your WIP? Whatever your reason, you can search the complete archive of all #vss365 prompts.</p>
  <p>If you can't find what you are looking for, the complete archive is <a href="{{ url_for('root.browse')}}">available to download</a> for more complicated searches. 😀</p>

  {% include "partials/form-search.html" %}
</section>
{% endblock %}
