{% set page_title = "Search #vss365 prompts" %}
{% extends "base.html" %}

{% block content %}
<section class="page">
  <h2 class="center">&OpenCurlyDoubleQuote;We're all searching for life's meaning... or maybe just a word's definition.&CloseCurlyDoubleQuote;</h2>

  <p>Trying to find a prompt that you liked? Do you want to know the prompt for a specific day? How about just inspiration for your WIP? Whatever the case, you can search a complete archive of all #vss365 prompts.</p>
  {% include "partials/form-search.html" %}
</section>
{% endblock %}
