<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color" content="#82eeee">
  <link rel="dns-prefetch" href="https://fonts.googleapis.com">
  <link rel="preconnect" crossorigin href="https://fonts.gstatic.com/">
  <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Serif+SC:400,700|Bad+Script:400|Josefin+Slab:400,600,700&display=swap">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='admin/css/style.css') }}">
  <title>Admin - {{ page_title }} | {{ config.SITE_TITLE }}</title>
</head>

<body class="dark">
  <header>
    <div>
      <h1 id="site-title"><a href="{{ url_for('root.index') }}">
        <span id="vss365">#vss365</span><span id="today">today</span></a>
      </h1>
      <h2 id="page-title">Admin &mdash; {{ page_title }}</h2>
    </div>

    {% include "admin/partials/nav.html" %}
  </header>

  <main>
    {%- block content %}{% endblock %}
  </main>

  <footer>
    <div>{{ current_date.year }} <a rel="noopener noreferrer" href="https://codetri.net">Caleb Ely</a></div>
  </footer>
</body>
</html>