{% extends "admin/base.html" %}
{% set page_title = 'Configuration' %}

{% block content %}
<section class="page app-config">
  <h2>App Configuration</h2>
  <p>Modify the tweet listener configuration to account for Host changes to keep everything running smoothly.</p>

  <h3>Prompt Word Hashtag Index</h3>
  <p>Once all hashtags are filtered out, which hashtag contains the prompt word?</p>

  <form action="#" method="post">
    <label for="input-hashtag-posi">Hashtag position</label>
    <input type="number" name="input-hashtag-posi" id="input-hashtag-posi" min="1" step="1" placeholder="1" value="{{ json_config.word_index + 1 }}">
    <button type="submit" class="btn-submit">Save</button>
  </form>

  {% include "admin/partials/divider-dots.html" %}

  <h3>Identifier Hashtags</h3>
  <p>Specify the hashtags that indicate a prompt tweet. Place each individual hashtag on its own line. Lines that do not begin with a hashtag will be ignored.</p>

  <form action="#" method="post">
    <textarea name="input-hashtags-identifier" id="input-hashtag-identifier" cols="5" rows="10" spellcheck="off">{% for hashtag in json_config.identifiers -%}
{{ hashtag }}{{ '\n' }}{% endfor -%}
    </textarea>
    <button type="submit" class="btn-submit">Save</button>
  </form>

  {% include "admin/partials/divider-dots.html" %}

  <h3>Filtered Hashtags</h3>
  <p>Do not consider these hashtags as possible prompt words. Place each individual hashtag on its own line. Lines that do not begin with a hashtag will be ignored.</p>

  <form action="#" method="post">
    <textarea name="input-hashtags-filter" id="input-hashtag-filter" cols="5" rows="10" spellcheck="off">{% for hashtag in json_config.additionals -%}
{{ hashtag }}{{ '\n' }}{% endfor -%}
</textarea>
    <button type="submit" class="btn-submit">Save</button>
  </form>
</section>

{% include "admin/partials/divider-dots.html" %}
{% endblock %}
