{% extends 'base.html' %}
{% set page_title = 'About #vss365' %}

{% block content %}
<section class="page">
  <h2>What is #vss365?</h2>
  <p><a rel="nofollow noopener noreferrer" href="https://makingfiction.com/history-of-vss365/">Created</a> by <a rel="nofollow noopener noreferrer"  href="https://theflashdogs.com/a-daily-dose-of-short-fiction/">FlashDogs</a> in 2016, #vss365 participants write a tweet-sized short story based on a daily word prompt. Originally planned to last one year, the prompts are now given out by a new host every month, each with their own unique style and word choices. The hosts were originally scheduled by <a rel="nofollow noopener noreferrer" href="https://twitter.com/voimaoy">Voimaoy</a> until the start of 2020, when <a rel="nofollow noopener noreferrer" href="https://twitter.com/ArthurUnkTweets">Arthur Unk</a> took over host scheduling.</p>

  <h3>Getting started</h3>
  <p>To get started with #vss365, all you need is a Twitter account. Once the prompt is posted, write a story that incorporates the prompt word or uses the prompt as thematic inspiration. Make sure you include the <a rel="nofollow noopener noreferrer" href="https://twitter.com/search?q=%23vss365">#vss365</a> hashtag and the prompt word as a hashtag so everyone can find it! That's all there is to it! If you are still wanting more information, Sal Page has written an <a rel="nofollow noopener noreferrer" href="http://sal-cobbledtogether.blogspot.com/2018/12/vss365-january-and-acpitservices.html">excellent blog post</a> with further background and writing tips.</p>

  <h3>What if I don't have Twitter?</h3>
  <p>If you don't have a Twitter accout, that's perfectly ok! You don't <em>have</em> to use Twitter to participate. You can still write a story from the prompt, or even use the prompt as inspiration for or incorporation into something else!</p>

  <h3>What if I miss a day?</h3>
  <p>Don't worry about that! If you miss a day, you can skip that prompt, write multiple stories, or combine the words into one story! There are no hard-and-fast rules here. It's all about having fun writing with the prompt. 😊</p>

  <h3>What does vss365 even mean?</h3>
  <p>"vss365" stands for Very Short Story 365 days a year! The idea behind the hashtag is to give writers daily writing inspiration every day of the year, hence 365. Because the stories traditionally fit in a tweet, they were dubbed "very short", creating the vss part of vss365.</p>

  <h2>About #vss365 today</h2>
  <p><strong>#vss365 today</strong> is a hobby project created by <a rel="noopener noreferrer" href="https://codetri.net">Caleb Ely</a>, an IT professional, poet, and active participant in #vss365. It has been created as a way to get the #vss365 prompt into the hands and minds of more writers more easily, himself included. You can read more about the background of this site on his <a rel="noopener noreferrer" href="https://blog.codetri.net/2019/01/vss365-today/">blog</a>.</p>

  <span id="privacy"></span>
  <h3>Privacy</h3>
  <p>Aside from some basic, blockable analytics used to identify browser usage and common referrers to the site, this site does not collect any personally identifiable information. If you voluntarily register for the daily email notifications, your email address is recorded for the sole purpose of sending out the emails through an automatic process and nothing else. Your email can be removed at any time through an unsubscribe link in every email. I do not like spam or junk as much as the next person, and have no plans or desire to ever use your email address in any form aside from the email notifications. 🙂</p>
</section>
{% endblock %}
