{% extends 'base.html' %}
{% set page_title = 'About #vss365' %}

{% block content %}
<section class="page">
  <h2>What is #vss365?</h2>
  <p>#vss365 is a tweet-sized writing challenge based on a specific daily word prompt. Entries must incorporate the word into a story, typically as thematic inspiration. The prompt is delievered by the monthly host on their Twitter account. There is a new host every month, each with their own unique style and word choices.</p>

  <p>#vss365 was <a rel="nofollow noopener noreferrer" href="https://makingfiction.com/history-of-vss365/">created</a> by <a rel="nofollow noopener noreferrer" href="https://theflashdogs.com/a-daily-dose-of-short-fiction/">FlashDogs</a> in 2016 and originally planned to last one year. After growing in popularity, <a rel="nofollow noopener noreferrer" href="https://twitter.com/voimaoy">Voimaoy</a> began the process of scheduling monthly hosts. She maintained this role until 2020, when <a rel="nofollow noopener noreferrer" href="https://twitter.com/ArthurUnkTweets">Arthur Unk</a> took over scheduling.</p>

  <p>"vss365" stands for Very Short Story 365. The idea behind the hashtag is to give writers daily writing inspiration every day of the year. Because the stories were the size of tweets, they were dubbed "very short" stories.</p>

  <h2>Getting started</h2>
  <p>To get started with #vss365, all you need is a Twitter account. Once the prompt is posted, write a story using the prompt. Make sure you include the <a rel="nofollow noopener noreferrer" href="https://twitter.com/search?q=%23vss365">#vss365</a> hashtag and the prompt word as a hashtag so everyone can find it. That's all there is to it! For some writing tips, check out this <a rel="nofollow noopener noreferrer" href="http://sal-cobbledtogether.blogspot.com/2018/12/vss365-january-and-acpitservices.html">excellent blog post</a> from Sal Page.</p>

  <h3>What if I don't have a Twitter account?</h3>
  <p>That's perfectly ok! A Twitter account is not required to participate. You can still write a story from the prompt, or use the prompt as inspiration or incorporation into something else!</p>

  <h3>What if I miss a day?</h3>
  <p>Don't worry about that! If you miss a day, you can skip that prompt, write multiple stories, or combine the words into one story (called a combo prompt)! There are no hard-and-fast rules. It's all about having fun.</p>

  <h2>About #vss365 today</h2>
  <p><strong>#vss365 today</strong> is a hobby project created by <a rel="noopener noreferrer" href="https://codetri.net">Caleb Ely</a>, an IT professional, poet, and active participant in #vss365. It has been created as a way to get the #vss365 prompt into the hands and minds of more writers more easily. You can read more about this site on his <a rel="noopener noreferrer" href="https://blog.codetri.net">blog</a>.</p>

  <span id="privacy"></span>
  <h3>Privacy</h3>
  <p>Aside from some basic analytics used to identify common referrers and amount of traffic, no personally identifiable information is collected. If you voluntarily register for the daily email notifications, your email address is recorded for the sole purpose of sending emails through an automated process. You can unsubscribe from the emails at any time. You email addres is not sold or distributed nor will be used for spam or junk mail. Emails are sent out through <a rel="noopener noreferrer" href="https://www.mailgun.com/">Mailgun</a> and are subsequently subject to the Mailgun privacy policy.</p>
</section>
{% endblock %}
