{% extends 'base.html' %}
{% set page_title = year ~ ' #vss365 prompts' %}

{% block content %}
<section class="page center browse-giver">

  {%- if not hosts -%}
  <h2>No {{ year }} #vss365 prompts were found!</h2>

  {%- else %}
  <div class="wrapper">
    {%- for host in hosts %}
    <dl>
      {% set host_date = host.date|create_api_date %}
      <dd><a href="{{ url_for('root.browse_by_year_month', year=host_date.year, month=host_date.strftime('%m')) }}">{{ host.handle }}</a></dd>
      <dt>{{ host_date|format_api_date_iso|format_month_year }}</dt>
    </dl>
    {%- if loop.index % 6 == 0 %}
  </div>

  <div class="wrapper">
    {%- endif %}
    {%- endfor %}
  </div>
  {%- endif %}

</section>
{% endblock %}
