{% extends 'base.html' %}
{% set page_title = date ~ ' prompts from ' ~ writer %}

{% block content %}
<section class="page center browse-giver">
  {% if not month_prompts -%}
  <h2>No #vss365 prompts from {{ writer }} for {{ date }} were found!</h2>

  {%- else %}
  <div class="wrapper">
    {%- for prompt in month_prompts %}
    {% set prompt_date = prompt.date|create_api_date %}
    <dl>
      <dd><a href="{{ url_for('root.date', date=prompt_date|format_api_date_iso) }}">{{ prompt.word }}</a></dd>
      <dt>{{ prompt_date|format_date }}</dt>
    </dl>
    {%- if loop.index % 5 == 0 %}
  </div>

  <div class="wrapper">
    {%- endif %}
    {%- endfor %}
  </div>
  {%- endif %}
</section>
{% endblock %}
