{% extends 'base.html' %}
{% set page_title = year ~ ' #vss365 prompts' %}

{% block content %}
<section class="page center browse-giver">
  <h2 class="center">&OpenCurlyDoubleQuote;
    Actually, years mean nothing. It's what's inside them.&CloseCurlyDoubleQuote;
    <br>&mdash;<a rel="nofollow noopener noreferrer" href="https://www.goodreads.com/quotes/478606-actually-years-mean-nothing-it-s-what-s-inside-them">Simon Van Booy</a>
  </h2>

  <div class="wrapper">
    {%- for month in months %}
    {% set pretty_date = (year ~ '-' ~ month)|format_month_year %}
    <a class="a-btn" href="{{ url_for('root.browse_by_year_month', year=year, month=month) }}">{{ pretty_date }}</a>
    {%- if loop.index % 6 == 0 %}
  </div>

  <div class="wrapper">
    {%- endif %}
    {%- endfor %}
  </div>
</section>
{% endblock %}
