{% extends 'base.html' %}
{% set page_title = date|format_month_year ~ ' prompts' %}

{% block content %}
<section class="page center browse-giver">
  <div class="wrapper">
    {%- for prompt in month_prompts %}
    <dl>
      <dd><a href="{{ url_for('root.view_date', d=prompt.date) }}">{{ prompt.word }}</a></dd>
      <dt>{{ prompt.date|format_date_pretty }}</dt>
      <dt>{{ prompt.host.handle }}</dt>
    </dl>
    {%- if loop.index % 5 == 0 %}
  </div>

  <div class="wrapper">
    {%- endif %}
    {%- endfor %}
  </div>
</section>
{% endblock %}
