{% extends 'base.html' %}
{% set page_title = 'Support #vss365 today' %}

{% from 'partials/calculate_cost.jinja2' import calculate_cost %}
{% set cost_domain = calculate_cost(site_costs, "domain")|float %}
{% set cost_email = calculate_cost(site_costs, "email")|float %}
{% set cost_server = calculate_cost(site_costs, "server")|float %}
{% set total_cost = cost_domain + cost_email + cost_server %}

{% block content %}
<section class="page">
  <h2 class="center">Support #vss365 today</h2>
  <p>Hello! I hope you are finding <strong>#vss365 today</strong> helpful to your wonderful writing
     endeavors and #vss365 stories. I created this site for that specific purpose, and it is my
     continual hope that it remains beneficial for everyone. 😊
  </p>

  <p>#vss365 today is a hobby project, developed in my limited free time between work, life,
    and many other activities. I absorb all costs to run the site. Servers, emails, and a domain cost money
    and I gladly pay for the services to keep the site online and in working shape for you personally.
    I intend to continue paying for all required services for the foreseeable future to
    keep the site free to use and accessible to all. The <em>last</em> thing I want to do is require
    some form of payment to access everything.</p>

  <p>That said, you can help financially support #vss365 today. It
    currently costs <strong>${{ "%.2f"|format(total_cost) }} USD</strong> a year to keep the site online.
    Here's how the costs break down.</p>

  <ul>
    <li>Domain name: ${{ "%.2f"|format(site_costs["domain"].cost) }}/year</li>
    <li>Email sending: ${{ "%.2f"|format(site_costs["email"].cost) }}/month</li>
    <li>Server hosting: ${{ "%.2f"|format(site_costs["server"].cost) }}/month</li>
  </ul>

  <p>Obviously, this is not pocket change. If you were to contribute
    <strong>${{ "%.2f"|format(total_cost / 12) }} USD</strong>,
    which is less than Chili's Dinner for Two special, you can keep the site online
    for a full month.  You could contribute less than the monthly cost too. I am
    appreciative of any amount sent to keep this resource that so many people rely
    on available and online.</p>

  <p>I have no intention to require a donation or payment to access #vss365 today.
    If you donate, it is 100% voluntary and will only be used to pay for the site.
    If you leave your email address or Twitter handle, you'll get a thank you message from me
    written specifically for you.</p>

  <p>Whether or not you donate, I thank you from the depths of my heart for your support of
    #vss365 today. I am always encouraged by your kind messages and by the stories I hear of
    how this little idea of mine is of beneficial service to writers like yourself.
    May you have much success in your writing and find inspiration in all that you do. 😊</p>

  <p>-Caleb</p>

  <a class="a-btn" href="https://paypal.me/cely717">Donate using PayPal</a>
  <a class="a-btn" href="https://venmo.com/cely717">Donate using Venmo</a>
  <a class="a-btn" href="https://ko-fi.com/cely717">Donate using Ko-fi</a>
</section>
{% endblock %}
