{% extends 'base.html' %}
{% set page_title = 'Support the site' %}

{% from 'partials/calculate_cost.jinja2' import calculate_cost %}
{% set cost_domain = calculate_cost(site_costs, "domain")|float %}
{% set cost_email = calculate_cost(site_costs, "email")|float %}
{% set cost_server = calculate_cost(site_costs, "server")|float %}
{% set cost_twitter = calculate_cost(site_costs, "twitter")|float %}
{% set total_cost = cost_domain + cost_email + cost_server + cost_twitter %}

{% block content %}
<section class="page">
  <h2 class="center">Support #vss365 today</h2>
  <p>Hello! I hope you are finding <strong>#vss365 today</strong> helpful to your wonderful writing
     endeavors and #vss365 stories. I created this site for that specific purpose, and it is my
     continual hope that it remains beneficial for everyone. 😊
  </p>

  <p>#vss365 today is a hobby project, developed in my limited free time between work, life,
    and many other activities. I absorb all costs to run the site. Running a website costs money
    and I gladly pay for the services to keep the site online and in working shape for you personally.
    I intend to continue paying for all required services for the foreseeable future to
    keep the site free to use and accessible to all. The <em>last</em> thing I want to do is require
    some form of payment to access anything.</p>

  <p>That said, you can help financially support #vss365 today. It
    currently costs <strong>${{ "%.2f"|format(total_cost) }} USD</strong> a year to keep the site online.
    Here's how the costs break down.</p>

  <ul>
    <li>Domain name: ${{ "%.2f"|format(site_costs["domain"].cost) }}/year</li>
    <li>Email sending: ${{ "%.2f"|format(site_costs["email"].cost) }}/month</li>
    <li>Server hosting: ${{ "%.2f"|format(site_costs["server"].cost) }}/month</li>
    <li>Twitter API: ${{ "%.2f"|format(site_costs["twitter"].cost) }}/month</li>
    <li>Total monthly cost: ${{ "%.2f"|format(total_cost / 12) }}</li>
  </ul>

  <p>Obviously, this is not pocket change, and I would never ask anyone to consider
    donating that monthly or yearly amount. Whatever you choose to do, wether it be a one-time,
    occasional, or regular reoccurring donation via Ko-fi or other means, I am appreciative
    of your donation to keep this resource that so many people rely on available and online.</p>

  <p>To be absolutely clear, I have no intention or desire to require any form of donation or payment
    to access #vss365 today. If you donate, it is 100% voluntary and is used exclusively to pay for the site.
    If you leave your email address or Twitter handle in the donation message,
    it'll make it a little easier for me to send you a thank you message. 😉</p>

  <p>Whether or not you donate, I thank you from the depths of my heart for your support of
    #vss365 today. I am always encouraged by your kind messages and by the stories I hear of
    how this little idea of mine is of beneficial service to writers like yourself.
    May you have much success in your writing and find inspiration in all that you do. 😊</p>

  <p>-Caleb</p>

  <a class="a-btn" href="https://ko-fi.com/cely717">Donate using Ko-fi</a>
  <a class="a-btn" href="https://paypal.me/cely717">Donate using PayPal</a>
  <a class="a-btn" href="https://venmo.com/cely717">Donate using Venmo</a>
</section>
{% endblock %}
