{% extends "base.html" %}
{% set page_title = 'Support #vss365 today' %}

{% block content %}
<section class="page">
  <h2 class="center">Help support #vss365 today</h2>
  <p>Hello! I hope you are finding <strong>#vss365 today</strong> helpful to your writing endeavors and wonderful #vss365 stories.
  I created this site for that specific purpose, and it is my continual hope that this site remains beneficial to you and
  your fellow writer friends. 😊</p>

  <p><strong>#vss365 today</strong> is a complete hobby project for me, developed in my limited free time between university classes, a job,
  home life, and many other activities. I also absorb all costs for running the site. Servers and a domain name cost money, and I gladly
  continue to pay for the services to keep the site online and in working shape for you personally. I intend to continue paying for
  all required services to keep the site fully free to use and accessible for all. The <em>last</em> thing I ever want to do is to
  be forced to require funds to keep it online.</p>

  <p>However, if you would like, you can help financially support <strong>#vss365 today</strong> and keep it available for all.
  Currently, it costs $70.00 USD a year to keep the site online. If you were to donate $7.00 USD, which is a little more than the price of two Starbucks venti iced coffees,
  you can keep the site online for a full month.</p>

  <p>Again, I have no current intention to ever require a donation or payment for using <strong>#vss365 today</strong>.
    This is a fully voluntary donation and will only be used to pay for the site.</p>

  <p>Whether you donate or not, I personally thank you for your continued support of <strong>#vss365 today</strong>.
  May you have much success in your writings and find lots of inspiration in all that you do. 😊</p>

  <p>-Caleb</p>

  <a class="a-btn" href="https://ko-fi.com/cely717">Donate using Ko-fi</a>
  <a class="a-btn" href="https://paypal.me/cely717">Donate using PayPal</a>
</section>
{% endblock %}
