{% extends 'base.html' %}
{% set page_title = prompts[0].date|format_date_pretty %}

{% block content %}
<section class="content">
  {% include "partials/btns-prev-next.html" %}

  {% set number_of_prompts = prompts|length %}
  <h3 class="prompt-highlight center">Today's writing prompt{{ ' is' if number_of_prompts == 1 else 's are' }}:</h3>
    <p class="word-wrapper center">
      {% for prompt in prompts %}
      <a class="prompt-highlight word commas center" target="_blank" href="https://www.merriam-webster.com/dictionary/{{ prompt.word|lower }}">{{ prompt.word }}</a>
      {% endfor %}
    </p>
</section>

<section class="content">
  {% for prompt in prompts %}
  <div class="tweet">
    {% if prompt.media %}
    <img width="400" alt="{{ prompt.media.alt_text if prompt.media[0].alt_text }}" src="{{ get_static_url('images/' ~ prompt.media[0].media) }}">
    {% endif %}
  </div>
  {% endfor %}

  {% if prompts|length > 1 %}
  <p class="center" style="font-size: 0.85em;">Prompt {% for prompt in prompts %}
    <a class="commas" href="{{ prompt.url }}">{{ loop.index }}</a>
  {% endfor %} by {{ prompts[0].host.handle }}</p>
  {% else %}
  <p class="center" style="font-size: 0.85em;"><a href="{{ prompts[0].url }}">Prompt by {{ prompts[0].host.handle }}</a></p>
  {% endif %}
</section>

<section class="content">
  <details>
    <summary>View tweet{{ 's' if number_of_prompts > 1 }}</summary>
    {% for prompt in prompts %}
    {{ prompt.content|format_content }}
    {% endfor %}
  </details>
</section>
{% endblock %}
