{% extends 'base.html' %}
{% set page_title = 'September 05, 2017' %}

{% block content %}
<section class="page center one-year">
  <h2>#vss365 One Year Anniversary</h2>
  <p>September 05, 2017 is a special day in #vss365 history. It is the one year anniversary of the writing prompt!
    To celebrate, prompt originator Mark A. King
    <a rel="noopener noreferrer" href="https://makingfiction.com/2017/07/20/vs365-one-year-on/">announced</a> that on the anniversary,
    a picture prompt would be posted every hour for 24 hours. Here, you will find all of those images for your writing inspiration!
  </p>
</section>

<section>
  <img width="100" src="{{ get_static_url('images/' ~ 'one-year-01.jpg') }}" alt="">
  <img width="100" src="{{ get_static_url('images/' ~ 'one-year-02.jpg') }}" alt="">
  <img width="100" src="{{ get_static_url('images/' ~ 'one-year-03.jpg') }}" alt="">
  <img width="100" src="{{ get_static_url('images/' ~ 'one-year-04.jpg') }}" alt="">
  <img width="100" src="{{ get_static_url('images/' ~ 'one-year-05.jpg') }}" alt="">
  <img width="100" src="{{ get_static_url('images/' ~ 'one-year-06.jpg') }}" alt="">
  <img width="100" src="{{ get_static_url('images/' ~ 'one-year-07.jpg') }}" alt="">
  <img width="100" src="{{ get_static_url('images/' ~ 'one-year-08.jpg') }}" alt="">
  <img width="100" src="{{ get_static_url('images/' ~ 'one-year-09.jpg') }}" alt="">
  <img width="100" src="{{ get_static_url('images/' ~ 'one-year-10.jpg') }}" alt="">
  <img width="100" src="{{ get_static_url('images/' ~ 'one-year-11.jpg') }}" alt="">
  <img width="100" src="{{ get_static_url('images/' ~ 'one-year-12.jpg') }}" alt="">
  <img width="100" src="{{ get_static_url('images/' ~ 'one-year-13.jpg') }}" alt="">
  <img width="100" src="{{ get_static_url('images/' ~ 'one-year-14.jpg') }}" alt="">
  <img width="100" src="{{ get_static_url('images/' ~ 'one-year-15.jpg') }}" alt="">
  <img width="100" src="{{ get_static_url('images/' ~ 'one-year-16.jpg') }}" alt="">
  <img width="100" src="{{ get_static_url('images/' ~ 'one-year-17.jpg') }}" alt="">
  <img width="100" src="{{ get_static_url('images/' ~ 'one-year-18.jpg') }}" alt="">
  <img width="100" src="{{ get_static_url('images/' ~ 'one-year-19.jpg') }}" alt="">
  <img width="100" src="{{ get_static_url('images/' ~ 'one-year-20.jpg') }}" alt="">
  <img width="100" src="{{ get_static_url('images/' ~ 'one-year-21.jpg') }}" alt="">
  <img width="100" src="{{ get_static_url('images/' ~ 'one-year-22.jpg') }}" alt="">
  <img width="100" src="{{ get_static_url('images/' ~ 'one-year-23.jpg') }}" alt="">
  <img width="100" src="{{ get_static_url('images/' ~ 'one-year-24.jpg') }}" alt="">
</section>
{% endblock %}
