{% extends 'base.html' %}
{% set page_title = 'September 05, 2017' %}

{% block content %}
<section class="page center one-year">
  {% include "partials/btns-prev-next.html" %}

  <h2>#vss365 One Year Anniversary</h2>
  <p>September 05, 2017 is a special day in #vss365 history. It is the one year anniversary of the writing prompt!
    To celebrate, prompt originator Mark A. King
    <a rel="noopener noreferrer" href="https://makingfiction.com/2017/07/20/vs365-one-year-on/">announced</a> that on the anniversary,
    a picture prompt would be posted every hour for 24 hours. Here, you will find all of those images for your writing inspiration!
  </p>
</section>

<section>
  {% for prompt in prompts.prompts %}
  <h2>#{{ loop.index }}</h2>
  <img width="100" src="{{ get_static_url('images/' ~ prompt.media) }}" alt="">
  <p style="font-size: 0.85em;"><a href="{{ prompt.url }}">Prompt by {{ host }}</a></p>
  {% endfor %}
</section>
{% endblock %}
