<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>#vss365 today &mdash; {{ tweet.date_pretty }}</title>
  <!-- https://markdownmail.com -->
</head>

<body
  style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #353333; height: 100%; hyphens: auto; line-height: 1.4; margin: 0; -moz-hyphens: auto; -ms-word-break: break-all; width: 100% !important; -webkit-hyphens: auto; -webkit-text-size-adjust: none; word-break: break-word;">
  <style>
    @media only screen and (max-width: 600px) {
      .inner-body {
        width: 100% !important;
      }

      .footer {
        width: 100% !important;
      }
    }

    @media only screen and (max-width: 500px) {
      .button {
        width: 100% !important;
      }
    }
  </style>
  <table class="wrapper" width="100%" cellpadding="0" cellspacing="0"
    style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; background-color: #82eeee; margin: 0; padding: 0; width: 100%; -premailer-cellpadding: 0; -premailer-cellspacing: 0; -premailer-width: 100%;">
    <tr>
      <td align="center" style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box;">
        <table class="content" width="100%" cellpadding="0" cellspacing="0"
          style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; margin: 0; padding: 0; width: 100%; -premailer-cellpadding: 0; -premailer-cellspacing: 0; -premailer-width: 100%;">
          <tr>
            <td class="header"
              style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; padding: 25px 0 10px 0; text-align: center;">
              <a href="https://vss365today.com"
                style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #353333; font-size: 23px; font-weight: bold; text-decoration: none;">
                #vss365 today
              </a>
            </td>
          </tr>
          <tr>
            <td class="header"
              style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; padding: 0 0 25px 0; text-align: center; color: #353333; font-size: 19px; text-decoration: none;">
              {{ tweet.date_pretty }}
            </td>
          </tr>
          <!-- Email Body -->
          <tr>
            <td class="body" width="100%" cellpadding="0" cellspacing="0"
              style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; background-color: #ffffff; border-bottom: 1px solid #edeff2; border-top: 1px solid #edeff2; margin: 0; padding: 0; width: 100%; -premailer-cellpadding: 0; -premailer-cellspacing: 0; -premailer-width: 100%;">
              <table class="inner-body" align="center" width="570" cellpadding="0" cellspacing="0"
                style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; background-color: #ffffff; margin: 0 auto; padding: 0; width: 570px; -premailer-cellpadding: 0; -premailer-cellspacing: 0; -premailer-width: 570px;">
                <!-- Body content -->
                <tr>
                  <td class="content-cell" align="center"
                    style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; padding: 35px;">
                    <h2
                      style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #2F3133; font-size: 19px; font-weight: bold; margin-top: 0; text-align: center;">
                      Today's writing prompt is:</h2>
                    <h1 align="center"
                      style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #2F3133; font-size: 23px; font-weight: bold; margin-top: 0; text-align: center;">
                      <a href="https://www.dictionary.com/browse/{{ tweet.word|lower }}"
                        style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #3ab879; text-decoration: none;">{{ tweet.word }}</a>
                    </h1>

                    <table class="action" align="center" width="100%" cellpadding="0" cellspacing="0"
                      style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; margin: 30px auto; padding: 0; text-align: center; width: 100%; -premailer-cellpadding: 0; -premailer-cellspacing: 0; -premailer-width: 100%;">
                      <tr>
                        <td align="center" style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box;">
                          <table width="100%" border="0" cellpadding="0" cellspacing="0"
                            style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box;">
                            <tr>
                              <td align="center"
                                style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box;">
                                <table border="0" cellpadding="0" cellspacing="0"
                                  style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box;">
                                  <tr>
                                    <td style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box;">
                                    {% if tweet.media %}
                                      <img width="400" alt="" style="box-sizing: border-box; display: inline-block;" src="{{ tweet.media }}">
                                    {% endif %}
                                    </td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table>

                    <p
                      style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #74787e; font-size: 16px; line-height: 1.5em; margin-top: 0; text-align: center;">
                      <a href="{{ tweet.url }}"
                        style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #3ab879; text-decoration: none;">Prompt by {{ tweet.handle }}</a>
                    </p>

                    <hr style="border: none; height: 3px; background-color: lightgray">

                    <h3>Hello #vss365 today subscriber</h3>

                    <p>It's been a while since I've sent y'all an update regarding the planned email infrastructure upgrades.
                    I ended up having to delay that project and switch my development priorities to sustain the maintainability and
                    stability of the site. A lot of cool things have happened in the last few months that I hope to write about on my blog soon. :D</p>

                    <p>However, with those pieces out of the way (and some reevaluation of my expectations versus reality), I have finally set up
                    the new email sending service and revised the site to send out a random portion of the existing mailing list
                    through the new service. To improve the chance it'll land in your inbox, you may consider adding noreply@mail.codetri.net
                    to your email contacts. I'll gradually be increasing the number of emails using the new service until it is fully used,
                    when I'll also open back up new subscriptions again (woo-hoo!).</p>

                    <p>Additionally, I've set up a small donate page if you'd like to invest in #vss365 today to help keep it online. You don't have to
                    donate to use the site or remain on the email list. #vss365 today is and will remain 100% free to use. I have simply set it up
                    for you to donate if you would like. Full details are available at <a style="color: #3ab879;" href="https://vss365today.com/donate">vss365today.com/donate</a>.</p>

                    <p>Finally, from the bottom of my heart, thank you for subscribing to #vss365 today! I am in debt to your support and enthusiasm to sharing this small project of mine with others. It brings me great joy to know that you are being blessed by my developing this site. Thank you so much for your continued support. I appreciate you personally very much. :)</p>

                    <p><a style="color: #3ab879;" href="https://twitter.com/cely717">-Caleb</a></p>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box;">
              <table class="footer" align="center" width="570" cellpadding="0" cellspacing="0"
                style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; margin: 0 auto; padding: 0; text-align: center; width: 570px; -premailer-cellpadding: 0; -premailer-cellspacing: 0; -premailer-width: 570px;">
                <tr>
                  <td class="content-cell" align="center"
                    style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; padding: 35px;">
                    <p
                      style="font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; line-height: 1em; margin-top: 0; color: #353333; font-size: 12px; text-align: center;">
                      <a style="color: #3ab879; text-decoration: none;" href="https://vss365today.com/unsubscribe">Unsubscribe</a> | <a style="color: #3ab879; text-decoration: none;" href="https://vss365today.com/view/{{ tweet.date }}">View in browser</a></p>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>
</html>
