{% extends 'base.html' %}
{% set page_title = 'Wrapped 2016' %}
{% from 'partials/stats_helpers.jinja2' import link_to_host, link_to_prompt %}


{% block content %}
<section class="page">
  <h2 class="center">#vss365 Wrapped 2016</h2>

  <div class="wrapper">
    <p><strong>Note:</strong> "Media Prompts" are defined as having an image or video attached to the tweet. Embedded
      media, such as YouTube embeds, are not considered media prompts.</p>

    <ul>
      <li><strong>119</strong> prompts were given out</li>
      <li><strong>1</strong> prompt reigned as the shortest prompt, with <strong>3 letters</strong></li>
      <li><strong>1</strong> prompt reigned as the longest prompt, with <strong>26 letters</strong></li>
      <li>The most common length of a prompt was <strong>6 letters</strong>, with <strong>21 prompts</strong></li>
      <li>The average length of a prompt was <strong>7.8067 letters</strong></li>
      <li>All <strong>26 letters</strong> of the English alphabet were used at least once</li>
      <li>There were <strong>3 numbers</strong> used in the prompts</li>
      <li>There was <strong>1 special character</strong> used, an <strong>underscore</strong></li>
      <li>The most common letter was "<strong>e</strong>", with <strong>99 uses</strong></li>
      <li>There were <strong>2 letters</strong> that were the least common</li>
      <li>The most common starting letter was "<strong>s</strong>", with <strong>14 uses</strong></li>
      <li>There were <strong>3 letters</strong> that were the least common starting letters</li>
      <li>There were <strong>3 letters</strong> that were the most common ending letter</li>
      <li>There were <strong>2 letters</strong> that were the least common ending letters</li>
      <li><strong>0 prompts</strong> were repeated</li>
      <li>There were <strong>4</strong> (<strong>3.3613%</strong>) media prompts</li>
      <li><strong>4</strong> (<strong>100%</strong>) media prompts did not have alt text to help visually impaired
        writers know what content or information the media portrayed</li>
      <li>To be fair, Twitter had little support for alt text until 2022</li>
      <li>Because this is the first year of #vss365, there is only one host: {{ link_to_host('FlashDogs') }}!</li>
    </ul>

    <table class="table">
      <caption>Shortest prompts</caption>
      <tr>
        <th>Prompt</th>
        <th>Host</th>
        <th>Date</th>
      </tr>
      <tr>
        <td>fox</td>
        <td>{{ link_to_host('FlashDogs') }}</td>
        <td>{{ link_to_prompt('2016-12-30') }}</td>
      </tr>
    </table>

    <table class="table">
      <caption>Longest prompts</caption>
      <tr>
        <th>Prompt</th>
        <th>Host</th>
        <th>Date</th>
      </tr>
      <tr>
        <td>NationalDoSomethingNiceDay</td>
        <td>{{ link_to_host('FlashDogs') }}</td>
        <td>{{ link_to_prompt('2016-10-05') }}</td>
      </tr>
    </table>

    <table class="table">
      <caption>Least common letters</caption>
      <tr>
        <th>Letter</th>
        <th>Occurrences</th>
      </tr>
      <tr>
        <td>j</td>
        <td>2</td>
      </tr>
      <tr>
        <td>q</td>
        <td>2</td>
      </tr>
    </table>

    <table class="table">
      <caption>Most common ending letters</caption>
      <tr>
        <th>Letter</th>
        <th>Occurrences</th>
      </tr>
      <tr>
        <td>n</td>
        <td>17</td>
      </tr>
      <tr>
        <td>s</td>
        <td>17</td>
      </tr>
      <tr>
        <td>e</td>
        <td>17</td>
      </tr>
    </table>

    <table class="table">
      <caption>Least common starting letters</caption>
      <tr>
        <th>Letter</th>
        <th>Occurrences</th>
      </tr>
      <tr>
        <td>m</td>
        <td>2</td>
      </tr>
      <tr>
        <td>k</td>
        <td>2</td>
      </tr>
      <tr>
        <td>j</td>
        <td>2</td>
      </tr>
    </table>

    <table class="table">
      <caption>Least common ending letters</caption>
      <tr>
        <th>Letter</th>
        <th>Occurrences</th>
      </tr>
      <tr>
        <td>f</td>
        <td>2</td>
      </tr>
      <tr>
        <td>o</td>
        <td>2</td>
      </tr>
    </table>

    <table class="table">
      <caption>Numbers used</caption>
      <tr>
        <th>Number</th>
        <th>Occurrences</th>
      </tr>
      <tr>
        <td>1</td>
        <td>1</td>
      </tr>
      <tr>
        <td>3</td>
        <td>1</td>
      </tr>
      <tr>
        <td>5</td>
        <td>1</td>
      </tr>
    </table>

    <table class="table">
      <caption>
        Prompt lengths and occurrences
        <span class="subcaption">Ordered by most common occurrence first</span>
      </caption>
      <tr>
        <th>Number of letters</th>
        <th>Prompts</th>
      </tr>
      <tr>
        <td>6</td>
        <td>21</td>
      </tr>
      <tr>
        <td>9</td>
        <td>18</td>
      </tr>
      <tr>
        <td>7</td>
        <td>16</td>
      </tr>
      <tr>
        <td>5</td>
        <td>14</td>
      </tr>
      <tr>
        <td>8</td>
        <td>12</td>
      </tr>
      <tr>
        <td>4</td>
        <td>12</td>
      </tr>
      <tr>
        <td>10</td>
        <td>9</td>
      </tr>
      <tr>
        <td>11</td>
        <td>6</td>
      </tr>
      <tr>
        <td>12</td>
        <td>4</td>
      </tr>
      <tr>
        <td>26</td>
        <td>1</td>
      </tr>
      <tr>
        <td>20</td>
        <td>1</td>
      </tr>
      <tr>
        <td>18</td>
        <td>1</td>
      </tr>
      <tr>
        <td>17</td>
        <td>1</td>
      </tr>
      <tr>
        <td>14</td>
        <td>1</td>
      </tr>
      <tr>
        <td>13</td>
        <td>1</td>
      </tr>
      <tr>
        <td>3</td>
        <td>1</td>
      </tr>
    </table>

    <table class="table">
      <caption>First time hosts</caption>
      <tr>
        <th>Host</th>
        <th>Hosting period start date</th>
      </tr>
      <tr>
        <td>FlashDogs</td>
        <td>{{ '2016-09-01'|format_date_pretty }}</td>
      </tr>
      <tr>
        <td>FlashDogs</td>
        <td>{{ '2016-10-01'|format_date_pretty }}</td>
      </tr>
      <tr>
        <td>FlashDogs</td>
        <td>{{ '2016-11-01'|format_date_pretty }}</td>
      </tr>
      <tr>
        <td>FlashDogs</td>
        <td>{{ '2016-12-01'|format_date_pretty }}</td>
      </tr>
    </table>
  </div>
</section>
{% endblock %}
