{% extends 'base.html' %}
{% set page_title = '2019 Stats' %}
{% from 'partials/stats_helpers.jinja2' import link_to_host, link_to_prompt %}


{% block content %}
<section class="page">
  <h2 class="center">#vss365 Wrapped 2019</h2>

  <div class="wrapper">
    <p><strong>Note:</strong> "Media Prompts" are defined as having an image or video attached to the tweet. Embedded media, such as YouTube embeds, are not considered media prompts.</p>

    <h2 class="center">Statistics coming soon</h2>
  </div>
</section>
{% endblock %}
