{% extends 'base.html' %}
{% set page_title = 'Wrapped 2023' %}
{% from 'partials/stats_helpers.jinja2' import link_to_host, link_to_prompt %}


{% block content %}
<section class="page">
  <h2 class="center">#vss365 Wrapped 2023</h2>

  <div class="wrapper">
    <p><strong>Note:</strong> "Media Prompts" are defined as having an image or video attached to the tweet. Embedded media, such as YouTube embeds, are not considered media prompts.</p>

    <ul>
      <li><strong>365</strong> prompts were given out</li>
      <li><strong>1</strong> prompt reigned as the shortest prompt, with <strong>2 letters</strong></li>
      <li><strong>1</strong> prompt reigned as the longest prompt, with <strong>14 letters</strong></li>
      <li>The most common length of a prompt was <strong>5 letters</strong>, with <strong>63 prompts</strong></li>
      <li>The average length of a prompt was <strong>6.7452 letters</strong></li>
      <li>All <strong>26 letters</strong> of the English alphabet were used at least once</li>
      <li>The most common letter was "<strong>e</strong>", with <strong>311 uses</strong></li>
      <li>There was <strong>1 special character</strong> used, a <strong><a href="https://unicodeplus.com/U+002D">Hyphen-Minus</a></strong></li>
      <li>The least common letter was "<strong>j</strong>", with <strong>2 uses</strong></li>
      <li>The most common starting letter was "<strong>s</strong>", with <strong>46 uses</strong></li>
      <li>There were <strong>3 letters</strong> that were the least common starting letter</li>
      <li>The most common ending letter was "<strong>e</strong>", with <strong>100 uses</strong></li>
      <li>There were <strong>3 letters</strong> that were the least common ending letter</li>
      <li><strong>2 prompts</strong> were repeated</li>
      <li>There were <strong>261</strong> (<strong>71.5%</strong>) media prompts</li>
      <li><strong>214</strong> (<strong>81.9%</strong>) media prompts did not have alt text to help visually impaired writers know what content or information the media portrayed</li>
      <li><strong>4 hosts</strong> were veteran hosts</li>
      <li><strong>20 hosts</strong> were first time hosts</li>
      <li>There were <strong>121 new email subscribers</strong>, averaging <strong>10.0833</strong> new subscribers a month</li>
      <li>By the end of the year, <strong>689 emails a day</strong> were being sent out </li>
    </ul>

    <table class="table">
      <caption>Shortest prompts</caption>
      <tr>
        <th>Prompt</th>
        <th>Host</th>
        <th>Date</th>
      </tr>
      <tr>
        <td>Be</td>
        <td>{{ link_to_host('MettaMike') }}</td>
        <td>{{ link_to_prompt('2023-06-28') }}</td>
      </tr>
    </table>

    <table class="table">
      <caption>Longest prompts</caption>
      <tr>
        <th>Prompt</th>
        <th>Host</th>
        <th>Date</th>
      </tr>
      <tr>
        <td>psychoanalysis</td>
        <td>{{ link_to_host('rachelnewcombe8') }}</td>
        <td>{{ link_to_prompt('2023-07-29') }}</td>
      </tr>
    </table>

    <table class="table">
      <caption>Repeated prompts</caption>
      <tr>
        <th>Prompt</th>
        <th>Occurrences</th>
      </tr>
      <tr>
        <td>adventure</td>
        <td>2</td>
      </tr>
      <tr>
        <td>livid</td>
        <td>2</td>
      </tr>
    </table>

    <table class="table">
      <caption>Least common starting letters</caption>
      <tr>
        <th>Letter</th>
        <th>Occurrences</th>
      </tr>
      <tr>
        <td>q</td>
        <td>2</td>
      </tr>
      <tr>
        <td>y</td>
        <td>2</td>
      </tr>
      <tr>
        <td>z</td>
        <td>2</td>
      </tr>
    </table>

    <table class="table">
      <caption>Least common ending letters</caption>
      <tr>
        <th>Letter</th>
        <th>Occurrences</th>
      </tr>
      <tr>
        <td>a</td>
        <td>2</td>
      </tr>
      <tr>
        <td>c</td>
        <td>2</td>
      </tr>
      <tr>
        <td>x</td>
        <td>2</td>
      </tr>
    </table>

    <table class="table">
      <caption>
        Prompt lengths and occurrences
        <span class="subcaption">Ordered by most common occurrence first</span>
      </caption>
      <tr>
        <th>Number of letters</th>
        <th>Prompts</th>
      </tr>
      <tr>
        <td>5</td>
        <td>63</td>
      </tr>
      <tr>
        <td>6</td>
        <td>58</td>
      </tr>
      <tr>
        <td>7</td>
        <td>57</td>
      </tr>
      <tr>
        <td>4</td>
        <td>47</td>
      </tr>
      <tr>
        <td>8</td>
        <td>42</td>
      </tr>
      <tr>
        <td>9</td>
        <td>38</td>
      </tr>
      <tr>
        <td>10</td>
        <td>23</td>
      </tr>
      <tr>
        <td>11</td>
        <td>15</td>
      </tr>
      <tr>
        <td>3</td>
        <td>13</td>
      </tr>
      <tr>
        <td>12</td>
        <td>7</td>
      </tr>
      <tr>
        <td>14</td>
        <td>1</td>
      </tr>
      <tr>
        <td>2</td>
        <td>1</td>
      </tr>
    </table>

    <table class="table">
      <caption>
        Average number of letters in each prompt for each host
        <span class="subcaption">Ordered by largest average length first</span>
      </caption>
      <tr>
        <th>Host</th>
        <th>Average letters in prompts</th>
      </tr>
      <tr>
        <td>SchatzSpeaks</td>
        <td>8.8</td>
      </tr>
      <tr>
        <td>rachelnewcombe8</td>
        <td>8</td>
      </tr>
      <tr>
        <td>PoetStur</td>
        <td>7.8</td>
      </tr>
      <tr>
        <td>poetguygabe</td>
        <td>7.6</td>
      </tr>
      <tr>
        <td>KindaSquirrelly</td>
        <td>7.5333</td>
      </tr>
      <tr>
        <td>PR_Rybeck</td>
        <td>7.5</td>
      </tr>
      <tr>
        <td>fruitbatwoman</td>
        <td>7.2857</td>
      </tr>
      <tr>
        <td>therealSIR3</td>
        <td>7.0667</td>
      </tr>
      <tr>
        <td>Hortonious101</td>
        <td>7</td>
      </tr>
      <tr>
        <td>AmellMirai</td>
        <td>7</td>
      </tr>
      <tr>
        <td>EnsignPyro</td>
        <td>7</td>
      </tr>
      <tr>
        <td>F_J_MacGregor</td>
        <td>7</td>
      </tr>
      <tr>
        <td>DzintraSullivan</td>
        <td>6.9333</td>
      </tr>
      <tr>
        <td>ElenaMarieBall</td>
        <td>6.8</td>
      </tr>
      <tr>
        <td>Folabz_</td>
        <td>6.7333</td>
      </tr>
      <tr>
        <td>ThelmaMantey</td>
        <td>6.6875</td>
      </tr>
      <tr>
        <td>JennyGaitskell</td>
        <td>6.6667</td>
      </tr>
      <tr>
        <td>VPetroudi</td>
        <td>6.1875</td>
      </tr>
      <tr>
        <td>ethandavidlee</td>
        <td>5.9333</td>
      </tr>
      <tr>
        <td>MettaMike</td>
        <td>5.6</td>
      </tr>
      <tr>
        <td>jdog90</td>
        <td>5.5625</td>
      </tr>
      <tr>
        <td>MurphyLorr</td>
        <td>5.2667</td>
      </tr>
      <tr>
        <td>NACalvoWrites</td>
        <td>5.125</td>
      </tr>
      <tr>
        <td>blsamaddar</td>
        <td>5.0625</td>
      </tr>
    </table>

    <table class="table">
      <caption>Veteran hosts</caption>
      <tr>
        <th>Host</th>
        <th>Hosting period start date</th>
      </tr>
      <tr>
        <td>F_J_MacGregor</td>
        <td>{{ '2023-06-01'|format_date_pretty }}</td>
      </tr>
      <tr>
        <td>rachelnewcombe8</td>
        <td>{{ '2023-07-16'|format_date_pretty }}</td>
      </tr>
      <tr>
        <td>Hortonious101</td>
        <td>{{ '2023-08-01'|format_date_pretty }}</td>
      </tr>
      <tr>
        <td>blsamaddar</td>
        <td>{{ '2023-10-16'|format_date_pretty }}</td>
      </tr>
    </table>

    <table class="table">
      <caption>First time hosts</caption>
      <tr>
        <th>Host</th>
        <th>Hosting period start date</th>
      </tr>
      <tr>
        <td>MurphyLorr</td>
        <td>{{ '2023-01-01'|format_date_pretty }}</td>
      </tr>
      <tr>
        <td>VPetroudi</td>
        <td>{{ '2023-01-16'|format_date_pretty }}</td>
      </tr>
      <tr>
        <td>fruitbatwoman</td>
        <td>{{ '2023-02-01'|format_date_pretty }}</td>
      </tr>
      <tr>
        <td>AmellMirai</td>
        <td>{{ '2023-02-15'|format_date_pretty }}</td>
      </tr>
      <tr>
        <td>poetguygabe</td>
        <td>{{ '2023-03-01'|format_date_pretty }}</td>
      </tr>
      <tr>
        <td>NACalvoWrites</td>
        <td>{{ '2023-03-16'|format_date_pretty }}</td>
      </tr>
      <tr>
        <td>ElenaMarieBall</td>
        <td>{{ '2023-04-01'|format_date_pretty }}</td>
      </tr>
      <tr>
        <td>DzintraSullivan</td>
        <td>{{ '2023-04-16'|format_date_pretty }}</td>
      </tr>
      <tr>
        <td>JennyGaitskell</td>
        <td>{{ '2023-05-01'|format_date_pretty }}</td>
      </tr>
      <tr>
        <td>PR_Rybeck</td>
        <td>{{ '2023-05-16'|format_date_pretty }}</td>
      </tr>
      <tr>
        <td>MettaMike</td>
        <td>{{ '2023-06-16'|format_date_pretty }}</td>
      </tr>
      <tr>
        <td>EnsignPyro</td>
        <td>{{ '2023-07-01'|format_date_pretty }}</td>
      </tr>
      <tr>
        <td>jdog90</td>
        <td>{{ '2023-08-16'|format_date_pretty }}</td>
      </tr>
      <tr>
        <td>therealSIR3</td>
        <td>{{ '2023-09-01'|format_date_pretty }}</td>
      </tr>
      <tr>
        <td>Folabz_</td>
        <td>{{ '2023-09-16'|format_date_pretty }}</td>
      </tr>
      <tr>
        <td>ethandavidlee</td>
        <td>{{ '2023-10-01'|format_date_pretty }}</td>
      </tr>
      <tr>
        <td>KindaSquirrelly</td>
        <td>{{ '2023-11-01'|format_date_pretty }}</td>
      </tr>
      <tr>
        <td>PoetStur</td>
        <td>{{ '2023-11-16'|format_date_pretty }}</td>
      </tr>
      <tr>
        <td>SchatzSpeaks</td>
        <td>{{ '2023-12-01'|format_date_pretty }}</td>
      </tr>
      <tr>
        <td>ThelmaMantey</td>
        <td>{{ '2023-12-16'|format_date_pretty }}</td>
      </tr>
    </table>

    <table class="table">
      <caption>New email subscribers per month</caption>
      <tr>
        <th>Month</th>
        <th>New subscribers</th>
      </tr>
      <tr>
        <td>January</td>
        <td>21</td>
      </tr>
      <tr>
        <td>February</td>
        <td>7</td>
      </tr>
      <tr>
        <td>March</td>
        <td>17</td>
      </tr>
      <tr>
        <td>April</td>
        <td>17</td>
      </tr>
      <tr>
        <td>May</td>
        <td>7</td>
      </tr>
      <tr>
        <td>June</td>
        <td>6</td>
      </tr>
      <tr>
        <td>September</td>
        <td>20</td>
      </tr>
      <tr>
        <td>October</td>
        <td>8</td>
      </tr>
      <tr>
        <td>November</td>
        <td>12</td>
      </tr>
      <tr>
        <td>December</td>
        <td>6</td>
      </tr>
    </table>
  </div>
</section>
{% endblock %}

