:root {
  --primary-bg-accent: #82eeee;
}

*, *::before, *::after { box-sizing: border-box; }

html { min-width: 320px; }

body {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  min-height: 100vh;

  font-family: "Noto Serif SC", serif;
  font-size: 18px;
  line-height: 1.6;
  font-weight: 400;
  color: #353333;

  text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6, strong, label {
  font-family: "Josefin Slab", "Noto Serif SC", sans-serif;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: #3ab879;
  border-bottom: 2px solid transparent;
}
a:hover,
a:focus,
a:active,
nav a.active {
  border-bottom-color: currentColor;
}

img {
  max-width: 100%;
  height: auto;
}

header {
  background-color: rgb(130, 238, 238);
  text-align: center;
}

header h1 {
  margin-bottom: -0.75em;
}

header a {
  color: inherit;
}

header img {
  position: relative;
  top: 1em;
}

header #vss365 {
  font-size: 1.2em;
  font-weight: 700;
}

header #today {
  font-family: "Bad Script";
  margin-left: 0.2em;
  font-size: 0.8em;
  font-weight: 700;
}

header h2 {
  font-size: 1.2em;
  font-weight: 400;
  cursor: default;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

nav.primary {
  /* position: fixed; */
  padding: 0.5em 0;
  background-color: #353333;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  z-index: 0;
}

nav.primary a {
  margin-right: 1em;
  margin-left: 1em;
  font-family: "Josefin Slab", "Noto Serif SC", sans-serif;
  font-weight: 400;
  font-size: 1.25em;
  color: #fff;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

details {
  margin-top: 2em;
  margin-bottom: 1em;
  padding: 1em 1.5em;
  background-color: #e9e9e9;
  border-radius: 3px;
}

summary {
  cursor: pointer;
  font-size: 1rem;
}

details img {
  margin-right: auto;
  margin-bottom: 1em;
  margin-left: auto;
}

footer {
  margin-top: 1em;
  padding: 0.5em;
  text-align: center;
  background-color: rgb(130, 238, 238);
}

footer a { color: inherit; }

footer > div {
  margin-top: 1em;
  font-size: 0.8em;
}

.center { text-align: center; }
.page {
  width: 60%;
  margin-right: 0;
  margin-left: 0;
}
.page h3,
.page h4 { margin-bottom: -0.5em; }

.tweet {
  line-height: 1.3;
  font-size: 0.8em;
}

.btns-prev-next {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1.2em;
}

.btns-prev-next a {
  font-family: "Josefin Slab", "Noto Serif SC", sans-serif;
  font-weight: 400;
}

.content img {
  display: block;
  margin-top: 1em;
  border: 1px solid #d1caca;
  border-radius: 6px;
}

.content .prompt-highlight {
  font-family: "Bad Script", "Noto Serif SC", serif;
  font-size: 1.5em;
  font-weight: 400;
}

.content .word {
  line-height: 1.5;
  font-size: 1.85em;
  font-weight: 700;
  color: inherit;
  text-decoration-style: dashed;
  text-decoration-line: underline;
  text-decoration-color: #d1caca;
}
.content .word:hover,
.content .word:focus,
.content .word:active {
  border-bottom-color: transparent;
  text-decoration-color: inherit;
}

.browse-page > div:first-of-type {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
}

.browse-giver ul {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  margin-bottom: 0.3em;
  line-height: 1.85;
}

form {
  width: 20rem;
  margin-top: 0.5em;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
}

input, button {
  margin-top: 0.2em;
  padding: 0.2em;
  font-family: inherit;
  font-size: 0.85em;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

button {
  margin-top: 1em;
  background-image: none;
  background-color: #fff;
  cursor: pointer;

  transition: color 0.2s ease, background-color 0.2s ease;
}

button:hover,
button:focus {
  /* TODO make better */
  background-color: #e9e9e9;
}

@media (max-width: 500px) {
  .content {
    width: 87%;
  }

  input, button {
    font-size: 0.73em;
  }
}

@media (max-width: 800px) {
  .page {
    width: 85%;
    margin-right: 0;
    margin-left: 0;
  }

  .browse-giver li {
    font-size: 1em;
  }
}
